body {
    background: #333;
    color: #fff;
    font-family: sans-serif;
}
div.container {
    width: 500px;
    height: 100vh;    
    margin: 0 auto;
    border: 1px solid green;
    display: flex;
}

div.box {
    width: 50%;
    height: 25%;
}

div.box:first-child {
    border: 1px solid red;
}

div.box:last-child {
    border: 1px solid blue;
}

@media (max-width: 500px) {
    div.container {     
        width: 100%;   
        display: block;
    }
    
    div.box { 
        width: 100%;
}